.icon{
 display: top;
 width: 100%;
}
.cont1{
    --background:#242121;
}
.submitBtn{
    --background: #56e3cb;
}
.body{
    background:#242121;
    color:#242121;
  }
.inpLg{
    --background:#242121;
    --placeholder-color:#242121; 
    --color:white;
}