<ion-header>
  <ion-toolbar color = "light">
    <ion-title text-center>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>  

  <img class ="icon" src="assets/musicLogin.jpg" alt ="">

  <ion-item>
    <ion-label position = "floating"> email </ion-label>
    <ion-input type = "text" [(ngModel)] = "email" name = "email"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = "floating"> password </ion-label>
    <ion-input type = "password" [(ngModel)] = "password" name = "password"> </ion-input>
  </ion-item>

  <!--Al presionar boton se dirige al metodo OnSubmitLogin de login.page.ts-->
  <ion-button class = "submitBtn" shape = "round" size = "large" color = "light"
  (click) = "OnSubmitLogin()"> Enter </ion-button> 

</ion-content>
